<header>
    <div class="befnav">
        <div class="col1">
            <ul>
            <li><h3>Welcome</h3></li>
             <li><h4><i class="fa fa-phone-square" aria-hidden="true"></i>+91 7642100193</h4></li>
            </ul>
        </div>
        <div class="col2">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bar">
        <nav>
            <img class="logo" src="../../assets/images/Logo.png" alt="logo">
            <div class="nav-links hide" id="navs">
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About</a></li>
                     <li><a [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a></li>
                     <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact</a></li>
                 </ul>
            </div>
         </nav>
    </div>
</header>

<div class="container">
    <div class="form-container">
      <div class="left-container">
        <div class="left-inner-container">
        <h2>OFFICE <span style="color: rgb(182, 182, 182);">A</span>DDRESS</h2>
        <h3>SKYLARK BIZ SOLUTIONS <br> <br> 33, Anna Main Rd, MGR Nagar, K. K. Nagar, <br> Chennai, Tamil Nadu 600078 <br> <br>Email: contact@skylarkdigi.com <br> <br>Mobile: 8610010780 </h3>
      </div>
        </div>
      <div class="right-container">
        <div class="right-inner-container">
          <form action="#">
              <h2 class="lg-view">Contact</h2>
        <h2 class="sm-view">Let's Chat</h2>
             <p>* Required</p>
              <!-- <div class="social-container">
                  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
              </div> -->
            <input type="text" placeholder="Name *"  />
        <input type="email" placeholder="Email *" />
              <input type="text" placeholder="Company" />
              <input type="phone" placeholder="Phone" />
            <textarea rows="4" placeholder="Message"></textarea>
              <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>