
$teal:#00b4cf;
$white:#ffffff;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing:border-box;
  margin:0;
}
.befnav{
  height: 40px;
  display: flex;
  padding: 2px 6px;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
}
.befnav .col1 ul li{
    display: inline-block;
    font-size: 12px;
    color: rgb(94, 90, 90);
    padding-left: 20px;
}
.befnav .col1 ul li h3{
    border-left: 2px solid #e2e3e2;
    padding-left: 18px;
}
.befnav .col1 ul li h4{
    padding-left: 14px;
    padding-right: 14px;
    border-left: 2px solid #e2e3e2;
    border-right: 2px solid #e2e3e2;
}
.befnav .col2 ul{
    margin-right: 10px;
    border-left: 2px solid #e2e3e2;
    border-right: 2px solid #e2e3e2;
}
.befnav .col2 ul li{
    display: inline-block;
    list-style: none;
}
.befnav .col2 ul li a{
    color: #3f3c3c;
    padding: 5px 15px;
}
.nav-bar .logo{
    width: 15%;
    height: 15%;
    margin-left: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 2px 6px;
    align-items: center;
}
.nav-links ul{
    margin-right: 60px;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
    border-left: 1px solid #e2e3e2;
    border-right: 1px solid #e2e3e2;
  }
  .nav-links ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
  }
  .nav-links ul li a:hover{
      color: black;
  }

body {
	background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
    font-size:10px;
	height: 100vh;
	margin: -20px 0 50px;
  
}

.container {
	background-color: $white;
	border-radius: 5px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	// width: 768px;
	max-width: 100%;
	min-height: 480px;
    min-width:370px;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-image: url(../../assets/images/rev.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Asap', sans-serif;
}
.right-container {
  display:flex;
  flex:1;
  height:4px;
  background-color: $white;
  justify-content:center;
  align-items:center;
  font-family: 'Asap', sans-serif;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
  color: black;
  font-weight: normal;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid $teal;
}

button {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}