<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <p>SKYLARK BIZ SOLUTIONS <br> <br> 33, Anna Main Rd, MGR Nagar, K. K. Nagar, Chennai, Tamil Nadu 600078 <br> <br>Email: contact@skylarkdigi.com <br> <br>Mobile: 8610010780 </p>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Company Profile</a></li>
                    <li><a href="#">Vision & Mission</a></li>
                    <li><a href="#">Quality Assurance</a></li>
                    <li><a href="#">Our Network</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Products</h4>
                <ul>
                    <li><a href="#">N95 Mask</a></li>
                    <li><a href="#">Sanitizer</a></li>
                    <li><a href="#">Dry Fruits</a></li>
                    <li><a href="#">PPE Kits</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
