.befnav{
    height: 40px;
    display: flex;
    padding: 2px 6px;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
  }
  .befnav .col1 ul li{
      display: inline-block;
      font-size: 12px;
      color: rgb(94, 90, 90);
      padding-left: 20px;
  }
  .befnav .col1 ul li h3{
      border-left: 2px solid #e2e3e2;
      padding-left: 18px;
  }
  .befnav .col1 ul li h4{
      padding-left: 14px;
      padding-right: 14px;
      border-left: 2px solid #e2e3e2;
      border-right: 2px solid #e2e3e2;
  }
  .befnav .col2 ul{
      margin-right: 10px;
      border-left: 2px solid #e2e3e2;
      border-right: 2px solid #e2e3e2;
  }
  .befnav .col2 ul li{
      display: inline-block;
      list-style: none;
  }
  .befnav .col2 ul li a{
      color: #3f3c3c;
      padding: 5px 15px;
  }
  .nav-bar .logo{
      width: 15%;
      height: 15%;
      margin-left: 40px;
  }
  nav{
      display: flex;
      justify-content: space-around;
      padding: 2px 6px;
      align-items: center;
  }
  .nav-links ul{
      margin-right: 60px;
      
  }
  .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 25px;
      position: relative;
      border-left: 1px solid #e2e3e2;
      border-right: 1px solid #e2e3e2;
    }
    .nav-links ul li a{
      text-decoration: none;
      color: gray;
      font-size: 15px;
      font-family: sans-serif;
    }
    .nav-links ul li a:hover{
        color: black;
    }
.genbg{
    background: url(../../assets/images/genbg.jpg);
    padding: 10px 10px;
}  
.genbg h1{
    font-size: 25px;
    font-family: 'Asap', sans-serif;
    align-items: center;
    font-weight: normal;
    padding-left: 80px;
}
.gencore .col1 img{
    width: 80%;
    height: 80%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.gencore .col1{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // justify-content: space-between;
}
.gencore .col1 h2 p{
    font-size: 16px;
    font-weight: normal;
    padding-right: 25px;
}
.gencore .col1 h2 h4{
    font-size: 16px;
    padding-right: 25px;
}
.textcont{
    text-align: center;
    font-size: 25px;
    font-family: 'Asap', sans-serif;
    color: #fff;
    padding: 10px 10px;
    background: url(../../assets/images/cont1.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

