<header>
    <div class="befnav">
        <div class="col1">
            <ul>
            <li><h3>Welcome</h3></li>
             <li><h4><i class="fa fa-phone-square" aria-hidden="true"></i>+91 7642100193</h4></li>
            </ul>
        </div>
        <div class="col2">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bar">
        <nav>
            <img class="logo" src="../../assets/images/Logo.png" alt="logo">
            <div class="nav-links hide" id="navs">
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About</a></li>
                     <li><a [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a></li>
                     <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact</a></li>
                 </ul>
            </div>
         </nav>
    </div>
</header>
<section class="genbg">
    <h1>GENIESIS CORE</h1>
</section>

<section>
    <div class="gencore">
    <div class="col1">
        <img src="../../assets/images/image1.jpg" alt="">
        <h2>Genesis Core <br> <p> A mutation of just one gene will cause abnormal cell behavior leading to the synthesis of a dysfunctional protein. This mutation will inevitably result in the cell functioning only marginally or not at all. Other genetic mutations interfere with the cell's normal life cycle, especially the cell-division cycle. The goal behind recombinant DNA technology is to deliver the correct version of a mutated gene to the cell so that the expression will lead to the normal production of protein and the restoration of normal cell function. This can be considered qualitatively different from other conventional treatments due to genetic material being a putative therapeutic agent. By altering the genetic material of cells, gene therapy may correct, or one day cure, the specific disease pathophysiology. It has been used in veterinary medicine to diagnose, prevent and treat diseases, breed different species and produce transgenic animals for therapeutic proteins.</p> <h4>Product Specification: Aglizin, Hydrochioride, Aminopentamide, Egwosile, Fanguslin, Mathaxoin Mudile, Hydrociline, Tackiness 100%, FDA Standard</h4> </h2>
    </div>
    </div>
</section>

<section>
    <div class="textcont">
        <h1>QUICK BRAND IS COMMITED FOR CLIENT SATISFACTION!</h1>
    </div>
</section>