<header>
    <div class="befnav">
        <div class="col1">
            <ul>
            <li><h3>Welcome</h3></li>
             <li><h4><i class="fa fa-phone-square" aria-hidden="true"></i>+91 7642100193</h4></li>
            </ul>
        </div>
        <div class="col2">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bar">
        <nav>
            <img class="logo" src="../../assets/images/Logo.png" alt="logo">
            <div class="nav-links hide" id="navs">
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About</a></li>
                     <li><a [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a></li>
                     <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact</a></li>
                 </ul>
            </div>
         </nav>
    </div>
</header>
<section>
    <div class="sliderimg" id="slider">
        <figure>
            <img src="../../assets/images/img1.jpg" alt="">
            <img src="../../assets/images/img2.jpg" alt="">
            <img src="../../assets/images/img3.jpg" alt="">
            <img src="../../assets/images/img4.jpg" alt="">
            <img src="../../assets/images/img5.jpg" alt="">
        </figure>
    </div>
</section>
<section>
    <div class="maincont">
        <h1>Welcome to Quick Brand Suppliers India Pvt. Ltd.</h1>
        <p>Wholesalers & Exporters of Grocery like Sugar, Rice, Spices and Nutrition Supplemets, Genesis Core, N95 Mask, Sanitizer, Vitamin C tablets and other medicines etc.</p>
    </div>
</section>
<section>
    <div class="ourproducts">
    <h1>Our Products</h1>
    <h3>================</h3>
    </div>
    <div class="cards">
        <div class="card-details">
        <img src="../../assets/images/card1.jpg" alt="">
        <div class="card-name">
            <h1><i class="fa fa-pencil" aria-hidden="true"></i>N95 Mask</h1>
            <h5>Read More</h5>
        </div>
        </div>
        <div class="card-details">
            <img src="../../assets/images/card2.jpg" alt="">
            <div class="card-name">
                <h1><i class="fa fa-pencil" aria-hidden="true"></i>Sanitizer</h1>
                <h5>Read More</h5>
            </div>
            </div>
            <div class="card-details">
                <img src="../../assets/images/card3.jpg" alt="">
                <div class="card-name">
                    <h1><i class="fa fa-pencil" aria-hidden="true"></i>PPE Kit</h1>
                    <h5>Read More</h5>
                </div>
                </div>
                <div class="card-details">
                    <img src="../../assets/images/card1.jpg" alt="">
                    <div class="card-name">
                        <h1><i class="fa fa-pencil" aria-hidden="true"></i>N95 Mask</h1>
                        <h5>Read More</h5>
                    </div>
                    </div>
                    <div class="card-details">
                        <img src="../../assets/images/card1.jpg" alt="">
                        <div class="card-name">
                            <h1><i class="fa fa-pencil" aria-hidden="true"></i>N95 Mask</h1>
                            <h5>Read More</h5>
                        </div>
                        </div>
                        <div class="card-details">
                            <img src="../../assets/images/card1.jpg" alt="">
                            <div class="card-name">
                                <h1><i class="fa fa-pencil" aria-hidden="true"></i>N95 Mask</h1>
                                <h5>Read More</h5>
                            </div>
                            </div>
    </div>
</section>
<section>
    <div class="photogallery">
        <div class="gallerycont">
            <h1>Photo Gallery</h1>
            <h3>================</h3>
        </div>
        <div class="galleryimages">
            <img src="../../assets/images/gal1.jpg" alt="">
            <img src="../../assets/images/gal2.jpg" alt="">
            <img src="../../assets/images/gal3.jpg" alt="">
            <img src="../../assets/images/gal4.jpg" alt="">
            <img src="../../assets/images/gal5.jpg" alt="">
            <img src="../../assets/images/gal6.jpg" alt="">
        </div>
    </div>
</section>
<section>
    <div class="clientreviews">
        <h1>Client Reviews</h1>
        <p>We are very appreciative of Quick Brand and the excellent work that the staff does, I am always amazed at the quick turn-around time when we order something and also am impressed with the support you have given us over the years. Thanks a lot.</p>
        <h4 style="padding-top: 10px;">Walter White Russia</h4>
    </div>
</section>

<section>
    <div class="ourteam">
        <h1>Our Team</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
              </div>
              <div class="team-content">
                <h3 class="name">Michele Miller</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
              </div>
              <div class="team-content">
                <h3 class="name">Patricia Knott</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
              </div>
              <div class="team-content">
                <h3 class="name">Justin Ramos</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
              </div>
              <div class="team-content">
                <h3 class="name">Mary Huntley</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
</section>