@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*{
    padding: 0;
    margin: 0;
}
.befnav{
  height: 40px;
  display: flex;
  padding: 2px 6px;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
}
.befnav .col1 ul li{
    display: inline-block;
    font-size: 12px;
    color: rgb(94, 90, 90);
    padding-left: 20px;
}
.befnav .col1 ul li h3{
    border-left: 2px solid #e2e3e2;
    padding-left: 18px;
}
.befnav .col1 ul li h4{
    padding-left: 14px;
    padding-right: 14px;
    border-left: 2px solid #e2e3e2;
    border-right: 2px solid #e2e3e2;
}
.befnav .col2 ul{
    margin-right: 10px;
    border-left: 2px solid #e2e3e2;
    border-right: 2px solid #e2e3e2;
}
.befnav .col2 ul li{
    display: inline-block;
    list-style: none;
}
.befnav .col2 ul li a{
    color: #3f3c3c;
    padding: 5px 15px;
}
.nav-bar .logo{
    width: 15%;
    height: 15%;
    margin-left: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 2px 6px;
    align-items: center;
}
.nav-links ul{
    margin-right: 60px;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
    border-left: 1px solid #e2e3e2;
    border-right: 1px solid #e2e3e2;
  }
  .nav-links ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
  }
  .nav-links ul li a:hover{
      color: black;
  }
  .sliderimg figure img{
    // width: 50%;
    height: 85vh;
  }
  #slider{
      overflow: hidden;
  }
  #slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      animation: 20s slider infinite;
  }
  #slider figure img {
      width: 20%;
      float: left;
  }
  @keyframes slider{
      0%{
          left: 0;
      }
      20%{
          left: 0;
      }
      25%{
          left: -100%;
      }
      45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

  }
  .maincont{
      padding-top: 60px;
      text-align: center;
      font-family: 'Asap', sans-serif;
  }
  .maincont h1{
    font-size: 40px;
    // padding-top: 10px;
  }
  .maincont p{
      font-size: 20px;
      padding-left: 90px;
      padding-right: 90px;
      padding-top: 20px;
      color: gray;
  }
  .ourproducts{
      text-align: center;
      padding-top: 60px;
      font-family: 'Asap', sans-serif;
  }
  .ourproducts h1{
    color: black;
    font-size: 40px;
}
  
  .ourproducts h3{
    color: gray;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 150px ;
    margin-right: 150px;
    margin-bottom: 70px;
  }
  .card-details{
      padding-top: 60px;
  }
  .card-name h1 .fa{
    color:rgb(58, 211, 238);
    padding-right: 40px;
  }
  .card-name h1{
      padding-top: 10px;
      padding-left: 5px;
      font-size: 20px;
  }
  .card-name h5{
      color: rgb(58, 211, 238);
      padding-left: 65px;
      font-weight: normal;
  }
  .gallerycont{
    padding-top: 40px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    background: #f6f6f6;
}
.gallerycont h1{
    color: black;
    font-size: 40px;
}
  
  .gallerycont h3{
    color: gray;
}
.galleryimages{
    background: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    padding-left: 45px;
    padding-top: 40px;
}
.galleryimages img{
    padding: 10px;
    transition: 0.1s all;
}
.galleryimages img:hover{
    z-index: 1;
    transform: scale(1.07);
}
.photogallery{
    margin-bottom: 40px;
}
.clientreviews{
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    background: url(../../assets/images/revw.jpg) repeat fixed 50% ;
}
.clientreviews h1{
    font-size: 35px;
}
.clientreviews p{
    padding-top: 70px;
    font-size: 15px;
    padding-right: 70px;
    padding-left: 70px;
}
//////////////////////////////////////////////////////////// 
.ourteam{
    margin-top: 30px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 100px;
}
.our-team {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  